.login{
    width: 30%;
    height: 20em;
    margin-top: 20em !important;
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;            
    flex-direction: column;   
    align-items: center;      
    justify-content: center; 
    text-align: center; 
}

.login h1{
    margin-bottom: 3em;
}

.login i{
    font-size: 2em;
}