/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif; }

/* Colori personalizzati */

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  