@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/*navbar*/

.navbar {
    color: rgb(138 154 91)  !important;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .navbar .logo{
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }

  .glass-navbar {
    background: rgba(255, 255, 255, 0.8); /* Trasparenza */
    backdrop-filter: blur(5px);         /* Effetto sfocato */
    -webkit-backdrop-filter: blur(10px); /* Supporto per Safari */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Bordo sottile */
    
    transition: all .5s ease-in-out;
  }

  .glass-navbar.scrolled {
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.1); /* Ombra leggera */
  }

  .navbar p {
    height: 100%;
    margin: 0;
  }
  
  .nav-link {
    font-family: 'Poppins', sans-serif;
    margin: 0 10px;
    font-size: .875rem;
    margin: 0 1.5rem;
  }

  @media (max-width: 1024px) {
    .navbar-nav {
      text-align: center; /* Centra il testo */
    }
  
    .nav-link {
      padding: 10px; /* Aggiunge spazio tra le voci */
      display: block; /* Ogni voce occupa l'intera riga */
    }
  }