<div class="hero-section d-flex align-items-center justify-content-center" id="init-section">
    <div class="text-center text-white">
      <h1 class="display-3">Matteo Gagliardi</h1>
      <p class="lead">Tech Leader</p>
      <p id="social-icons">
        <a target="_blank" href="contacts" class="fa-regular fa-envelope"></a>
        <a target="_blank" href="https://github.com/gagliardi-matteo" class="fa-brands fa-github"></a>
        <a target="_blank" class="fa-brands fa-linkedin-in" href="https://www.linkedin.com/in/matteo-gagliardi-372a72135" ></a>
      </p>
    </div>
</div>
<div class="about-section d-flex flex-column align-items-left justify-content-center" id="target-section">
    <h1>About Me</h1>
    <p>
        I'm a passionate Full Stack Developer with expertise in building modern web applications. With a strong foundation in both frontend and backend technologies, I create seamless user experiences that solve real-world problems.<br /><br />
        My approach combines technical excellence with creative problem-solving, ensuring that every project I work on meets the highest standards of quality and performance.
    </p>
</div>
<app-expirience></app-expirience>
<button class="scroll-down-button" [style.transform]="'rotate(' + rotationAngle + 'deg)'" (click)="handleButtonClick()" id="navigationButton"><i class="fa-solid fa-arrow-down"></i></button>